body {
  /* margin: 0;
    padding: 0; */
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  /* background-color: #161b22; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.first_info {
  display: block;
}

.hide_data {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#repoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 170px; */
  /* background-color: blanchedalmond; */
  gap: 4;
  width: 1010px;
  /* height: 100px; */
}
#repoContainer h4 {
  /* width: 350px;
    height: 130px; */
  /* background-color: #fff; */
  /* padding: 20px; */
  /* margin: 10px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* font-weight: 600; */
  font-size: larger;
  /* border: solid gray 3px; */
  /* text-decoration: underline; */
  margin: 0;
  padding: 0;
  color: #0550ae;
}
#repoContainer h5 {
  /* width: 350px;
  height: 130px; */
  /* background-color: #fff; */
  /* padding: 20px; */
  /* margin: 10px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: larger;
  /* border: solid gray 3px; */
  /* text-decoration: underline; */
  margin: 0;
  padding: 8px 0 0 0;
  /* color: aliceblue; */
  /* height: 200px; */
}

.repo {
  margin: 30px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  /* background-color: #f9f9f9c7; */
  width: 380px;
  height: 210px;
  border: solid gray 2px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.users {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  /* background-color: yellow; */
  padding: 30px;
  font-size: larger;
  font-weight: 600;
}
#userAvatar {
  border-radius: 25px;
  border: solid rgb(241, 111, 111) 2px;
}
.repo-details {
  /* background-color: red; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.repository_title {
  font-size: larger;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items:baseline; */
  margin: 10px;
  padding: 5px;
  /* background-color: red; */
  width: 30%;
}
.header input {
  width: 60%;
  padding: 8px;
}
.header button {
  /* width: 60%; */
  border: solid 1px gray;
  border-radius: 3px;
  height: 35px;
  padding: 9px;
  font-size: small;
  cursor: pointer;
  border: solid 0px;
  border-radius: 5px;
  background: rgb(133, 133, 133);
  color: antiquewhite;
}
.buttons {
  /* background-color: aquamarine; */
  width: 400px;
  height: 100px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.buttons button {
  width: 90px;
  height: 30px;
  border: solid 0px;
  border-radius: 5px;
  background: rgb(133, 133, 133);
  color: antiquewhite;
  cursor: pointer;
}
.edit {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.edit button {
  width: 90px;
  height: 30px;
  border: solid 0px;
  border-radius: 5px;
  background: rgb(133, 133, 133);
  color: antiquewhite;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  #repoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 0 0 40px;
    padding: 0;
    width: auto;
    font-size: smaller;
  }
  .header {
    font-size: smaller;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .header input {
    font-size: smaller;
    width: 50%;
  }
  .header button {
    font-size: smaller;
    width: 30%;
    /* font-size: xx-small; */
    margin: 0;
    padding: 0;
  }
  .users {
    font-size: smaller;
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: space-evenly;
    font-weight: 100;
  }
  .users img {
    width: 120px;
  }
  .edit {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .repo {
    height: 150px;
  }
}

@media screen and (max-width: 360px) {
  .edit{
    width: 350px;
  }
  .edit button{
    width: 45px;
  }
  .repo{
    width: 320px;
    padding: 6px;
    /* margin: 10px 0 0 0; */
    height: 175px;
    font-size: 13px;
  }
  

}
